<head>
	<meta charset="utf-8">
	<title>act8team ー About</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="_3block">
	<div class="inside">
		<h1>About Us</h1>
		<p>To-Do</p>
	</div>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>