<head>
	<meta charset="utf-8">
	<title>act8team ー About</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="_3block">
	<div class="inside">
		<h1>About Us</h1>
		<p>We are a small independent game development studio, founded back in 2015 as <i>mixEd Team</i> for developing our first game, somewhere in Russia. We are still growing and we have our own ideals!</p>
		<p><h2>We are...</h2></p>
		<ul class="about-pros">
			<li><i class="fas fa-times"></i> against DRM;</li>
			<li><i class="fas fa-times"></i> against game milking;</li>
			<li><i class="fas fa-times"></i> against data selling;</li>
			<li><i class="fas fa-check"></i> making high quality projects;</li>
			<li><i class="fas fa-check"></i> accepting our mistakes;</li>
			<li><i class="fas fa-check"></i> end user-friendly;</li>
			<li><i class="fas fa-check"></i> transparent;</li>
			<li><i class="fas fa-check"></i> looking for professionalism,</li>
		</ul>
		<p>even though we are little indie studio!</p>
	</div>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>