<head>
	<meta charset="utf-8">
	<title>act8team ー Support</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="body">
	<div class="_p"></div>
	<div class="mainh"><h1>You're about to contact</h1>
	<h1>our support team!</h1>
	<h2>Please be nice with them.</h2></div>
</div>
<div class="_3block">
	<div class="inside">
		<h1>What do you need help with?</h1>
		<p>Contacts listed below cover all needs you may have, but if nothing fits your reason please consider contacting us through general help team.</p>
		<div class="_support_block">
			<h2>General help</h2>
			<p><a href="mailto:contact@act8team.com" class="support-mailto">contact@act8team.com</a></p>
		</div>
		<div class="_support_block">
			<h2>Appeals</h2>
			<p><a href="mailto:mods@act8team.com" class="support-mailto">mods@act8team.com</a></p>
		</div>
		<div class="_support_block">
			<h2>Privacy concerns</h2>
			<p><a href="mailto:privacy@act8team.com" class="support-mailto">privacy@act8team.com</a></p>
		</div>
		<div class="_support_block">
			<h2>Publishing Team</h2>
			<p><a href="mailto:dist@act8team.com" class="support-mailto">dist@act8team.com</a></p>
		</div>
		<div class="_support_block">
			<h2>Marketing</h2>
			<p><a href="mailto:mrkt@act8team.com" class="support-mailto">mrkt@act8team.com</a></p>
		</div>
		<div class="_support_block">
			<h2>Other</h2>
			<p><a href="mailto:contact@act8team.com" class="support-mailto">contact@act8team.com</a></p>
		</div>
	</div>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>