<head>
	<meta charset="utf-8">
	<title>act8team ー Error</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<%~ includeFile('/layouts/presets/references.ejs');  %>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="body">
	<div class="_p"></div>
	<div class="mainh"><h1>Error</h1>
	<h2>This page doesn't exist.</h2></div>
</div>

<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>