<head>
	<meta charset="utf-8">
	<title>act8team ー Legal</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<div class="_3block">
	<div class="inside">
		<h1>Terms of Service</h1>
		<h3>Privacy Policy</h3>
	<p>This Privacy Policy sets forth how we collect, use, protect, store, disclose and otherwise process your Personal Information.</p>
	<p>Our Privacy Policy applies only for our software and not the third-parties, which may distribute, serve, store our products or other that we may use.</p>
	<p>By using our Services or Software, you are confirming that you understand every word of our legal agreement. If you have any questions about Privacy &amp; and your data please contact us with representive subject.</p>
	<p>Our services and/or software are not designed for Children, and we do not intentionally collect, use, store, disclose, or process any Personal information received from Children. "Child" is a person under 16 years old. If you are a parent or Child's representative who has submitted their data to our services or/and software, please contact us with representive subject.</p>
	<p>We may collect different types of information from you depending on how you use our Services, including Personal Information. “Personal Information” means information that relates to an identified or identifiable natural person. The list of data that we may collect is listed below. Certain types of Personal Information may fall under more than one category.</p>
	<ul>
		<li>Indentifiers: We may collect data that identifies you, such as name, username, email address, billing address, shipping address, device information, Internet protocol address, device indentifiers, and other indentifiers.</li>
		<li>Geolocation data: We may collect your location, such as your zip code, city, state, and country.</li>
		<li>Internet or similar network activity: We may collect infromation regarding your gameplay such as triggers being activated or actions within the game and your interaction with the Websites, including pages viewed.</li>
		<li>Categories of personal information described in Section 1798.80(e) of the California Customer Records: We may collect your name, billing address, shipping address, payment information, and telephone number. </li>
		<li>Other categories: We may collect information from the content that you share publicly in the Games through public functions or that you send to us directly when you contact us or report a problem with the Services. We may also collect information that does not generally identify you but may become associated with your account. We may use information that does not identify you for any permissible business purpose under applicable law. </li>
		<li>Other data that our Software generates itself.</li>
	</ul>
	<p>We may collect data provided directly from you, automatically provided by you or/and from third parties.</p>
	<p>We collect your Personal Infromation to:</p>
	<ul>
		<li>Provide or/and Improve the Services.</li>
		<li>Provide more pleasant gameplay.</li>
		<li>To administer the Services.</li>
		<li>In futherance of legal, health, and safety objectives.</li>
		<li>In connection with a sale or other transfer of our business.</li>
		<li>As we may describe to you when collecting your Personal Infromation.</li>
	</ul>
	<p>We may disclose your Personal Information to a third party such as a service provider for providing or/and improving the Service, or administer our Services or/and Software, aswell as:</p>
	<ul>
		<li>To our lawyers, consultants, accountants, business advisors, and similar third parties who owe us duties of confidentiality;</li>
		<li>To comply with any court order, law, or legal process, such as responding to a government or regulatory request;</li>
		<li>To enforce any contract we may have in effect with you</li>
		<li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of us, our users, or others; and </li>
		<li>If you have consented to such a disclosure.</li>
	</ul>
	<p>We DO NOT sell your information to any third-parties.</p>

	<h2>Terms of Service</h2>
	<p>By starting our Games you confirming that you agree to our Privacy Policy, License Agreement and Terms of Service.</p>
	<p>Any content of this particular page can be modified (removed, changed, added, etc) without any notification.</p>
	<p></p>

	<h2>License Agreement</h2>
	<p>Games, bought on DRM-free platforms, such as GOG.com may be stored, copied, used or deleted as long as you have a product license.</p>

	<h2>End Product</h2>
	<p>Our end product may:</p>
	<ul>
		<li>use your computer power to provide better service for end user (you);</li>
		<li>use your computer to provide interesting gameplay;</li>
		<li>use system or third-party services/software to provide end gameplay;</li>
		<li>modify your system information to provide described gameplay;</li>
		<li>use system information to provide described gameplay;</li>
		<li>use network to provide described gameplay;</li>
		<li>modify (create, delete, edit) files on your local computer's disks;</li>
		<li>store and send your Personal Information (described above).</li>
	</ul>

	<h2>Third-party resources used on act8-web</h2>
	<h3>As sort-of thanks.</h3>
	<ul>
		<li><b>Font Awesome 5</b> as icon provider;</li>
		<li><b>Eta</b> (n.js module) as template manager for web pages;</li>
		<li><b>Fastify, fastify-compress, fastify-static</b> (n.js module) for serving web pages;</li>
		<li><b>get-image-colors</b> (n.js module) for <a href="/team">team page</a>;</li>
		<li><b>markdown-it</b> (n.js module) for user pages, game descriptions and blog posts;</li>
		<li><b>pg</b> (n.js module) for access to database;</li>
		<li><b>point-of-view</b> (n.js module) for connecting Eta and Fastify</li>
		<li><b>Roboto</b> used as logo font;</li>
		<li><b>Work Sans</b> used as act8-web font.</li>
	</ul>
	
	<h2>Third-party contributors</h2>
	<h3>of act8-web, which deserve a thank you</h3>
	<ul>
		<li><b>Some french guy (lardon),</b> for proof reading.</li>
	</ul>
	</div>
</div>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>