<head>
	<meta charset="utf-8">
	<title>act8team ー Blog</title>

	<meta name="description" content="Indie game development studio, located somewhere in Russia.">
	<link rel="stylesheet" type="text/css" href="/styles/public.css">
	<script type="text/javascript" src="/scripts/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/scripts/public.js"></script>
</head>

<body>
<!--NavBar-->
<%~ includeFile('/layouts/presets/navbar.ejs'); %>
<!--Body-->
<h1 class="pagetitler">Blog</h1>
<p class="pagetitler nocolor">Currently blog consists of <%= it.posts.length %> post(s).</p>
<div class="blogblock">
	<div class="inside blogpost">
		<table>
			<tbody>
				<tr><td class="posttitle">Blog post title</td></tr>
				<tr><td class="postdesc">Blog post short description.</td></tr>
				<tr><td class="postfooter">Posted by <button class="blogbutton">Read more</button></td></tr>
			</tbody>
		</table>
	</div>
</div>
<%= JSON.stringify(it.posts) %>
<!--Footer-->
<%~ includeFile('/layouts/presets/footer.ejs'); %>
</body>