<div class="footer">
	<div class="row">
		<div class="column">
			<h3>STUDIO</h3>
			<p><a href="/about" class="footer-link">about</a></p>
			<p><a href="/games" class="footer-link">games</a></p>
			<p><a href="/team" class="footer-link">team</a></p>
			<p><a href="/legal" class="footer-link">legal</a></p>
			<p><a href="/support" class="footer-link">support</a></p>
		</div>
		<div class="column">
			<h3>SOCIAL</h3>
			<p><a href="https://twitter.com/act8team" class="footer-link">twitter</a></p>
			<p><a href="https://vk.com/act8team" class="footer-link">vkontakte</a></p>
			<p><a href="https://discord.gg/rQRYcSgqQJ" class="footer-link">discord</a></p>
			<p><a href="https://www.youtube.com/channel/UCium2_ULYgN_UVZ666Tdo4A" class="footer-link">youtube</a></p>
			<p><a href="https://twitch.tv/act8team" class="footer-link">twitch</a></p>
		</div>
	</div>
</div>