<ul class="_navbar" id="_navbar">
	<li class="logo"><img class="_logo" src="/imgs/brand/act8_white.png" id="act8logo"></li>
	<li class="link"><a href="/support">support</a></li>
	<li class="link"><a href="/blog">blog</a></li>
	<li class="link"><a href="/games">games</a></li>
	<li class="link"><a href="/team">team</a></li>
	<li class="link"><a href="/about">about</a></li>
</ul>