@import "/3rd/fontawesome/css/all.css";

@font-face
{
	font-family: 'Work Sans';
	src: url('/fonts/WorkSans.ttf');
}

:root
{
	/* warning */
	--EULA: "What are you exactly trying to find here, huh? I don't mind, but atleast you could've asked, it's rude, you know.";
	--contact-us: "contact@act8team.com";

	/* actual vars */
	--brand-white: #F57A7C;
}

html, body
{
	margin: 0;
	padding: 0;
	background: #121212;
}

*
{
	font-family: 'Work Sans';
	font-weight: 0;
	color: white;
}

._navbar
{
	display: block;
	position: relative;
	list-style-type: none;
	margin: 8px 15%;
	padding: 0;
	overflow: hidden;
}
._navbar>li
{
	float: left;
	vertical-align: middle;
}

._navbar>li a
{
	color: #fbfbfb;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
._navbar>li.link
{
	float: right;
	font-weight: 600;
	text-transform: lowercase;
	transition: 0.2s;
}
._navbar>li.link:hover
{
	background: var(--brand-white);
}

._navbar>li a.active
{
	color: var(--brand-white) !important;
}
._navbar>li.logo>._logo
{
	display: block;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	cursor: pointer;
}

body>div.body
{
	margin: 0 15%;
}
body>div.body>div._p
{
	height: 25%;
}
.mainh>h1
{
	font-weight: 800;
}
.mainh > h1
{
	margin: 0;
}
.mainh > h2
{
	font-weight: 300;
}
.mt
{
	margin-top: 30%;
}
._1block
{
	width: 100%;
	background: #191919;
	padding: 24px 0;
	text-align: center;
}
._2block
{
	width: 100%;
	background: #0E0E0E;
	padding: 24px 0;
	text-align: center;
}
._3block
{
	width: 100%;
	background: #191919;
	margin: 24px 0;
}
.blogblock
{
	position: relative;
	width: 100%;
	background: #191919;
	margin: 12px 0;

	transition: 0.2s;
}
.blogblock:hover
{
	background: #1b1b1b;
}
.pagetitler
{
	margin: 0;
	padding: 12px 15%;
	text-transform: uppercase;
	color: var(--brand-white);
}
.pagetitler.nocolor
{
	color: inherit;
}
.blogblock > div.inside
{
	padding: 12px 15%;
}
.blogblock > div.inside > h1
{
	font-weight: 800;
}

._3block > div.inside
{
	padding: 12px 15%;
}
._3block > div.inside > h1
{
	font-weight: 800;
}
.tpe
{
	padding: 72px 0;
}
._2block > h1.head
{
	color: var(--brand-white);
	text-transform: uppercase;
	font-size: 42px;
	font-weight: 800;
}
._2block > h2.counter
{
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 25.3px;
}
.gameholder > .game
{
	display: inline-block;
	width: 175px;
	height: 280px;
	background: var(--poster-url);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	vertical-align: middle;
	margin: 12px 12px;
	box-shadow: 3px 3px 25px rgba(0,0,0,0.75);

	cursor: pointer;
}

.gameholder > .game.centerized
{
	display: inline-block;
	width: 219px;
	height: 350px;
	background: var(--poster-url);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	vertical-align: middle;
}

@media only screen and (max-width: 750px)
{
	._navbar
	{
		text-align: center;
	}
	._navbar>li.logo
	{
		display: block;
		float: none;
	}
	._navbar>li.logo>img._logo
	{
		display: block;
		position: relative;
		margin: auto;
		max-width: 50%;
		max-height: 50%;
	}
	._navbar>li.link
	{
		display: inline-block;
		float: none;
	}

	body>div.body>div._p

	{
		height: 15%;
	}
	._1block
	{
		margin-top: 20%;
	}
}
._1block > center > h1
{
	font-weight: 800;
	font-size: 27px;
}
.footer
{
	margin: 18px 15%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer > .row > .column > h3
{
	color: var(--brand-white);
	text-transform: uppercase;
}
.footer > .row > .column > p
{
	margin: 0;
	color: white;
	text-transform: lowercase;
}

.footer-link
{
	display: inline-block;
	text-decoration: none;
	padding: 4px;
	color: white;
	width: 100%;
	margin: 0;
	font-weight: 500;
	transition: 0.2s;
}
.footer-link:hover
{
	padding-left: 12px;
	background: var(--brand-white);
	color: white;
}
p > a
{
	text-decoration: none;
	color: var(--brand-white);
}
._support_block 
{
	display: inline-block;
	margin-right: 16px;
	margin-bottom: 16px;
	width: 256px;
}
._support_block > h2
{
	margin: 2px 0;
	color: var(--brand-white);
}
._support_block > p
{
	margin: 0;
}
._3block > .inside > p
{
	margin: 12px 0;
}

.team
{
	justify-content: all;
	text-align: justify-all;
}

.games
{
	justify-content: all;
	text-align: justify-all;

}

.games>.game_obj
{
	display: inline-block;
	position: relative;
	width: 219px;
	height: 350px;
	margin: 2px;
	background: #0E0E0E;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 3px 10px rgba(0,0,0,0.47);

}
.games>.game_obj>.poster
{
	width: 100%;
	height: 100%;
	background-image: var(--poster-url);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.8;

    transition: 0.3s;
}

.games>.game_obj:hover .poster
{
	transform: scale(1.05);
	opacity: 1;
}
.games>.game_obj:hover
{
	box-shadow: 0 3px 20px rgba(0,0,0,0.47);
}
.games>h1
{
	text-transform: uppercase;
	color: var(--brand-white);
}
.team>h1
{
	text-transform: uppercase;
	color: var(--brand-white);
}

.team>.member
{
	display: inline-block;
	position: relative;
	width: 250px;
	height: 290px;
	margin: 2px;
	background: #0E0E0E;

	cursor: pointer;
}

.team>.member>table, .team>.member>table>tbody
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
.team>.member>table>tbody>tr
{
	margin: 0;
	padding: 0;
	text-align: center;
}
.team>.member>table>tbody>tr.user-info
{
	height: 80%;
	background: linear-gradient(140deg, var(--user-gradient-one) 0%, var(--user-gradient-two) 100%);
	opacity: 0.8;
	transition: 0.3s;
}

.team>.member>table>tbody>tr.user-info>td>img.user-image
{
	border-radius: 1000px;

	width: 96px;
	height: 96px;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	transition: 0.3s;
}

.team>.member>table>tbody>tr.details
{
	height: 20%;
	text-align: initial;
	margin: 40px;
}
.team>.member>table>tbody>tr.details>td
{

	padding: 0 21px;
	font-size: 1em;
	font-weight: 1000;
	text-transform: uppercase;
}
.team>.member>table:hover tbody>tr.user-info>td>img.user-image
{
	width: 128px;
	height: 128px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.team>.member>table:hover tbody>tr.user-info
{
	opacity: 1;
}

.blogpost
{
	position: relative;
	z-index: 0;
}
.blogblock > .blog-image
{
	position: absolute;
	height: 100%;
	padding: 0 15%;
	mask-image: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

.blogblock:hover > .blog-image
{
	mask-image: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

.blogpost > table, .blogpost > table > tbody
{
	width: 100%;
}
.blogpost > table > tbody > tr > td.posttitle
{
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: 12px;
}
.blogpost > table > tbody > tr > td.postdesc
{
	color: #D8D8D8;
	padding-bottom: 12px;
}

.blogpost > table > tbody > tr > td.postfooter
{
	float: right;
}
.blogpost > table > tbody > tr > td.postfooter > button.blogbutton
{
	border: none;
	background:#101010;

	font-size: 16px;
	font-weight: 600;

	color: #636363;

	cursor: pointer;

	padding: 12px 24px;

	transition: 0.3s;
}
.blogpost > table > tbody > tr > td.postfooter > button.blogbutton:hover
{
	background: #636363;
	color: #101010;
}
.blogpost > table > tbody > tr > td.postfooter > span.author_info
{
	padding: 0 6px;
}
.blogpost > table > tbody > tr > td.postfooter > span.author_info > a.author
{
	color: var(--brand-white);
	text-decoration: none;
	padding: 0 6px;
	transition: 0.3s;
}
.blogpost > table > tbody > tr > td.postfooter > span.author_info > a.author:hover
{

	box-shadow: inset 0 -40px 0 -1px var(--brand-white);
	color: white;
}

.profile
{
	width: 100%;
}

.profile > .profile-poster
{
	position: relative;
	width: 100%;
	height: 164px;
	background: var(--poster-url) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.profile > .profile-poster > .profile-avatar
{
	position: absolute;
	top: 60%;
	margin-left: 15%;
}
.profile > .profile-poster > .profile-avatar > img
{
	width: 128px;
	height: 128px;
	border-radius: 15px;
	float: left;
	vertical-align: middle;
}

.profile > .profile-info
{
	background-color: #191919;
}
.profile > .profile-info > .profile-data
{
	padding: 0 15% 12px 15%;
}
.profile > .profile-info > .profile-data > .profile-description
{
	display: block;
	font-size: 14px;
	text-justify: inter-word;
	text-align: justify;
}

.profile > .profile-info > .profile-data > .profile-description > .profile-resigned
{
	margin: -12px 0 12px 0;
	padding: 12px;
	border: 1px solid var(--brand-white);
	border-radius: 15px;
}

.profile > .profile-info > .profile-data > .profile-description > .profile-resigned > table > tbody > tr > td > *
{
	color: var(--brand-white) !important;
}

.profile > .profile-info > .profile-data > .profile-description > .profile-resigned > table > tbody > tr > td.resigned-icon
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	width: 48px;
	height: 48px;
}

.profile > .profile-info > .profile-data > .profile-description > .profile-resigned > table > tbody > tr > td > .resigned-title
{
	display: block;
	font-weight: 800;
	text-transform: uppercase;
}

.profile > .profile-info > .profile-data > .profile-links
{
	display: block;
	margin-top: 12px;
}

.profile > .profile-info > .profile-data > .profile-links > a.profile-link
{
	padding: 3px 6px;
	text-decoration: none;

	transition: 0.2s;
}
.profile > .profile-info > .profile-data > .profile-links > a.profile-link:hover
{
	background-color: var(--brand-white);
}

.profile > .profile-info > .profile-data > .profile-links > a.profile-link > i.link-icon
{
	font-size: 11px;
}

.profile > .profile-info > .profile-data > .profile-dev-data
{
	padding: 4px 136px;
}
.profile > .profile-info > .profile-data > .profile-dev-data > .dev-data
{
	padding-top: 2px;
	display: block;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;

	color: var(--brand-white);
}
.profile > .profile-info > .profile-data > .profile-space
{
	display: block;
	padding: 12px;
}
.profile > .profile-info > .profile-data > .profile-dev-data > .dev-data.smaller
{
	color: #FFF;
	font-weight: 800;
	padding-top: 0px;
	font-size: 20px;
}
span.h1
{
	display: block;
	margin: 12px 0;
	font-size: 26px;
	text-transform: uppercase;
	color: var(--brand-white);
	font-weight: 700;
}
.blogs-paginator
{
	margin: 12px 15%;
	float: right;
}

.blogs-paginator > .paginator-button
{
	font-weight: 800;
	text-decoration: none;
	padding: 12px;
	background-color: #101010;
	color: #636363;
	transition: 0.2s;
}
.blogs-paginator > .paginator-button:hover
{
	background-color: #636363;
	color: #101010;
}

.game-filler
{
	position: relative;
	width: 100%;
	height: 480px;
	background: var(--poster-url) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.game-filler > .game-filler-darken
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.game-filler > .game-filler-darken > table
{
	width: 100%;
	height: 100%;
	padding-left: 15%;
}
h1.game-page.game-name
{
	font-weight: 1000;
	font-size: 48px;
	margin: 0;
}
.game-page.game-description
{
	width: 100%;
	background: #191919;
}
.game-page.game-description > .game-description-inner
{
	padding: 16px 15%;
}
.game-page.game-description > .game-description-inner > h1
{
	text-transform: uppercase;
	color: var(--brand-white);

	font-size: 24px;
}
.game-page.game-description > .game-description-inner > .game-description-md
{
	text-align: justify;
}

.game-page.game-button
{
	background: var(--brand-white);
	padding: 12px 28px;
	text-transform: uppercase;
	font-weight: 600;

	text-decoration: none;

	transition: 0.2s;
}

.game-page.game-button:hover
{
	background: white;
	color: var(--brand-white);
}
.game-page.game-screenshots
{
	width: 100%;
	height: 200px;
	position: relative;
	text-align: center;
}
.game-page.game-screenshots > table
{
	width: 100%;
	height: 100%;
}
.game-page.game-screenshots > table > tbody > tr > td
{
	text-align: center;
}
.game-page.game-screenshot
{
	width: 192px;
	height: 108px;
	cursor: pointer;
}
.game-screenshot-full
{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	overflow: auto;
}
.full-blackout
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
.close-screenshot
{
	position: fixed;
	right: 32px;
	top: 24px;
	font-size: 42px;
	font-weight: 999;
	cursor: pointer;
}